html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #656565;
}

a {
  color: inherit;
  display: inherit;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrapper .main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn,
.btn-orange {
  padding: 19px 25px;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
  border-radius: 12px;
  transition: all 0.3s;
}

.btn-orange {
  background-color: #FF5634;
  border: 1px solid #FF5634;
  margin-right: 27px;
  color: #FFFFFF;
}

.header {
  box-shadow: 0px 3px 12px rgba(18, 18, 18, 0.06);
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 50;
}

.header__inner {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.header__btn:last-child {
  margin-left: 16px;
  background-color: #FF5634;
  border: #FF5634;
  color: #fff;
}

.header__menu-burger {
  display: none;
  position: relative;
  z-index: 10;
}

.header__menu-burger span {
  display: block;
  width: 40px;
  height: 4px;
  background-color: #FF5634;
  border-radius: 25px;
  margin-bottom: 7px;
}

.header__menu-burger.active span {
  opacity: 0;
  transition: opacity 0s;
}

.header__menu-burger.active span:first-child {
  transform: translateY(7px) rotate(-45deg);
  opacity: 1;
  transition: all 0.4s;
}

.header__menu-burger.active span:last-child {
  transform: translateY(-9px) rotate(45deg);
  opacity: 1;
  transition: all 0.4s;
}

.menu-header {
  margin-left: auto;
}

.menu-header__list {
  display: flex;
}

.menu-header__item:last-child {
  margin-right: 44px;
}

.menu-header__link {
  margin-left: 26px;
  font-size: 16px;
  line-height: 18px;
  transition: all 0.3s;
}

.menu-header__btn {
  display: none;
}

.top__body {
  display: flex;
  padding-top: 162px;
}

.no-webp .body-top {
  background: url("../images/top/top-bg.jpg") right no-repeat; }

.body-top {
  padding-bottom: 42px;
  margin-bottom: 140px;
}

.body-top__column {
  max-width: 586px;
}

.body-top__inner {
  padding-bottom: 60px;
  border-bottom: 1px solid #CACACA;
}

.body-top__mark {
  line-height: 20px;
  text-transform: uppercase;
  color: #FF5634;
  margin-bottom: 28px;
}

.body-top__title {
  font-weight: 700;
  font-size: 62px;
  line-height: 72px;
  margin-bottom: 12px;
}

.body-top__text {
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 40px;
}

.body-top__text span {
  display: inline-block;
  line-height: 30px;
  margin-left: auto;
}

.body-top__btn {
  padding: 26px 37px;
}

.body-top__btn-orange {
  background-color: #FF5634;
  border: #FF5634;
  margin-right: 27px;
}

.box-body {
  display: flex;
}

.box-body__item {
  margin-right: 35px;
  margin-top: 60px;
}

.box-body__numb {
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
}

.box-body__numb span {
  color: #FF5634;
}

.box-body__text {
  line-height: 20px;
}

.partners-top__title {
  text-align: center;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 48px;
}

.partners-top__title span {
  margin-left: 24px;
}

.partners-top__items {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CACACA;
  margin-bottom: 200px;
}

.partners-top__item {
  padding-bottom: 140px;
}

.about__inner {
  text-align: center;
  border-bottom: 1px solid #CACACA;
}

.about__title {
  line-height: 20px;
  text-transform: uppercase;
  color: #FF5634;
  font-weight: 400;
  margin-bottom: 7px;
}

.about__description {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
  margin-bottom: 22px;
}

.about__text {
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 100px;
}

.info-about {
  display: flex;
  justify-content: space-between;
}

.info-about__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin-bottom: 63px;
}

.info-about__image {
  margin-bottom: 60px;
}

.info-about__title {
  font-size: 28px;
  line-height: 40px;
  color: #121212;
  margin-bottom: 20px;
}

.info-about__text {
  line-height: 30px;
}

.info-about__btn {
  padding: 26px 37px;
  margin-bottom: 200px;
}

.info-about__btn-orange {
  background-color: #FF5634;
  border: #FF5634;
  margin-right: 27px;
}

.content {
  margin-bottom: 200px;
}

.body-content {
  display: flex;
}

.body-content__column {
  padding-top: 200px;
  min-width: 600px;
  margin-bottom: 80px;
}

.body-content__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
  max-width: 500px;
  margin-bottom: 28px;
}

.body-content__text {
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 32px;
}

.body-content__img {
  position: relative;
  z-index: -1;
}

.no-webp .body-content__column-burger {
  background: url("../images/content/content-bg.png") right 130px no-repeat; }

.body-content__buttons {
  width: 100%;
  text-align: center;
}

.body-content__btn {
  padding: 26px 39px;
}

.body-content__btn-orange {
  background-color: #FF5634;
  border: #FF5634;
}

.info-body {
  display: flex;
  flex-wrap: wrap;
}

.info-body__item {
  max-width: 275px;
  margin-right: 48px;
  margin-bottom: 48px;
}

.info-body__img {
  margin-bottom: 25px;
}

.info-body__title {
  font-size: 22px;
  line-height: 28px;
  color: #121212;
  margin-bottom: 18px;
}

.info-body__text {
  font-size: 14px;
  line-height: 22px;
}

.info-body__discreption {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #656565;
  text-align: center;
}

.part {
  background-color: #121212;
  color: #fff;
  margin-bottom: 200px;
}

.part__inner {
  display: flex;
}

.part__column {
  margin-top: 274px;
  margin-right: 90px;
}

.column-part__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  max-width: 564px;
}

.column-part__text {
  font-size: 12px;
  line-height: 30px;
  max-width: 540px;
  margin-bottom: 30px;
}

.slider-part {
  display: flex;
}

.slider-part__slide {
  padding: 15px;
}

.slider-part__slide:first-child {
  padding: 0px 15px 15px 15px;
}

.slider-part__slide:last-child {
  padding: 15px 15px 0 15px;
}

.features {
  text-align: center;
}

.features__title {
  font-size: 18px;
  line-height: 20px;
  color: #FF5634;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 6px;
}

.features__mark {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
  max-width: 640px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.features__text {
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 80px;
}

.features-box__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.features-box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  margin-bottom: 80px;
}

.features-box__image {
  margin-bottom: 24px;
}

.features-box__title {
  font-size: 28px;
  line-height: 40px;
}

.features-box__text {
  line-height: 30px;
}

.features-box__btn {
  margin-top: -20px;
  margin-bottom: 200px;
}

.body-order {
  padding-bottom: 100px;
}

.body-order__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-order__column {
  margin-bottom: 120px;
}

.body-order__column-orange {
  background-color: #FF5634;
  width: 600px;
  height: 690px;
  border-radius: 36px;
  position: relative;
}

.no-webp .body-order__column-orange::before {
  background: url("../images/order/phone-1-bg.png") center no-repeat; }

.body-order__column-orange::before {
  content: "";
  position: absolute;
  top: 31%;
  right: 10%;
  width: 341px;
  height: 341px;
}

.no-webp .body-order__column-orange:last-child::before {
  background: url("../images/order/phone-2-bg.png") center no-repeat; }

.body-order__column-orange:last-child::before {
  content: "";
  position: absolute;
  top: 33%;
  left: 10%;
  width: 341px;
  height: 341px;
}

.body-order__column-orange:last-child .body-order__images {
  padding: 70px 0 0 190px;
}

.body-order__images {
  padding: 70px 0 0 60px;
}

.body-order__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  color: #121212;
  max-width: 480px;
  margin-bottom: 17px;
}

.body-order__text {
  max-width: 550px;
  margin-bottom: 30px;
}

.body-order__items {
  max-width: 570px;
  display: flex;
}

.body-order__item-img {
  margin-right: 27px;
}

.body-order__item-title {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 14px;
}

.body-order__item-text {
  font-size: 13px;
  line-height: 30px;
  margin-bottom: 25px;
}

.comments {
  background: #FAFAFA;
  padding: 100px 0 200px;
}

.top-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-comments__column {
  max-width: 450px;
  margin-bottom: 50px;
}

.top-comments__column-btn {
  display: inline-flex;
  white-space: nowrap;
}

.top-comments__title {
  font-size: 44px;
  line-height: 54px;
  color: #121212;
  margin-bottom: 22px;
}

.top-comments__text {
  font-size: 12px;
  line-height: 30px;
}

.content-comments__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.content-comments__item {
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  box-shadow: 0px 2px 12px rgba(16, 16, 16, 0.08);
  border-radius: 24px;
  height: 270px;
  margin: 12px;
  transition: all 0.5s;
}

.avatar-content {
  display: flex;
  align-items: center;
  margin: 41px 0 33px 33px;
}

.avatar-content__author {
  margin-right: 10px;
}

.avatar-content__name {
  font-size: 18px;
  line-height: 20px;
  color: #121212;
}

.avatar-content__place {
  font-size: 16px;
  line-height: 18px;
  color: #FF5634;
}

.avatar-content__text {
  max-width: 315px;
  width: 100%;
  line-height: 30px;
  margin: 0 auto;
  padding: 20px;
}

.second-part {
  background-color: #121212;
}

.items-second {
  display: flex;
  align-items: center;
  color: #fff;
  position: relative;
  margin-bottom: 90px;
}

.items-second__column:first-child {
  max-width: 500px;
}

.items-second__column:last-child {
  display: flex;
  margin-top: -100px;
}

.items-second__title {
  font-size: 56px;
  line-height: 66px;
  margin-bottom: 20px;
}

.items-second__text {
  font-size: 12px;
  line-height: 30px;
  margin-bottom: 40px;
}

.items-second__img {
  z-index: 2;
}

.items-second__img-second {
  margin-left: -200px;
}

.download__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 70px;
  margin-bottom: 100px;
  border-bottom: 1px solid #CACACA;
}

.download__text {
  margin-top: 30px;
  font-size: 12px;
  line-height: 30px;
  max-width: 440px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #CACACA;
}

.footer__column {
  margin-bottom: 100px;
}

.footer__copyright {
  text-align: center;
  padding: 33px 0;
}

.menu-footer__title {
  font-size: 20px;
  line-height: 22px;
  color: #121212;
  margin-bottom: 41px;
}

.menu-footer__items {
  display: flex;
  justify-content: space-between;
}

.menu-footer__item {
  margin-right: 45px;
}

.menu-footer__list {
  margin-bottom: 17px;
}

.utility-footer__title {
  font-size: 20px;
  line-height: 22px;
  color: #121212;
  margin-bottom: 41px;
}

.utility-footer__item {
  margin-right: 45px;
}

.utility-footer__list {
  margin-bottom: 17px;
}

.available-footer__title {
  font-size: 20px;
  line-height: 22px;
  color: #121212;
  margin-bottom: 41px;
}

.available-footer__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.available-footer__item {
  display: flex;
  align-items: center;
  min-width: 255px;
  margin-bottom: 13px;
}

.available-footer__item + .available-footer__item {
  padding-left: 30px;
}

.available-footer__img {
  margin-right: 18px;
}

.copyright-footer__text span {
  color: #FF5634;
  margin: 0 5px;
}

@media (min-width: 961px) {
  .btn:hover,
  .btn-orange:hover {
    box-shadow: 2px -3px 6px 3px rgba(16, 16, 16, 0.25);
  }

  .btn:hover {
    background-color: #FF5634;
    border: 1px solid #FF5634;
    color: #fff;
  }

  .btn-orange:hover {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    color: #121212;
  }

  .menu-header__link:hover {
    color: #FF5634;
  }

  .content-comments__item:hover {
    box-shadow: 7px -9px 10px 10px rgba(16, 16, 16, 0.08);
  }
}

@media (max-width: 1300px) {
  .second-part {
    display: none;
  }
}

@media (max-width: 1240px) {
  .content {
    margin-bottom: 0px;
    background: #121212;
    background-size: cover;
    padding-bottom: 50px;
    border-bottom: 3px solid #cacaca;
  }

  .body-content__column-burger {
    background: none;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .body-content__img {
    z-index: 1;
  }

  .body-content__title {
    color: #cacaca;
  }

  .body-content__text {
    color: #fff;
  }

  .info-body__title {
    color: #ff5634;
  }

  .info-body__text {
    color: #fff;
  }

  .info-body__discreption {
    color: #fff;
  }

  .body-content__column {
    min-width: 280px;
  }

  .body-content__btn {
    margin-bottom: 100px;
  }

  .body-order__inner {
    flex-direction: column-reverse;
  }

  .body-order__inner:last-child {
    flex-direction: column;
  }

  .download__items {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .top__body {
    display: block;
  }

  .body-top {
    background: none;
    margin-bottom: 50px;
  }

  .body-top__column {
    max-width: 100%;
  }

  .body-top__mark {
    color: red;
  }

  .box-body {
    justify-content: space-around;
  }

  .body-top__img {
    margin: 0 auto;
  }

  .partners-top__title {
    color: #000;
  }

  .partners-top__items {
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 70px;
    margin-bottom: 50px;
  }

  .partners-top__item {
    padding-bottom: 10px;
  }

  .info-about {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .part__column {
    margin: auto 0;
  }

  .part {
    margin-bottom: 50px;
  }

  .box-body {
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .utility-footer {
    display: none;
  }
}

@media (max-width: 970px) {
  .body-content {
    display: block;
  }

  .info-body {
    justify-content: space-around;
  }

  .body-content__column:last-child {
    padding-top: 50px;
  }

  .comments {
    padding: 50px 0 50px;
  }

  .download__items {
    flex-direction: column;
  }
}

@media (max-width: 900px) {
  .menu-header {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ff5634;
    transform: translate(0, -120%);
    width: 100%;
    text-align: center;
    padding: 30px 0;
    border-radius: 0 0 25px 25px;
    transition: all 0.5s;
  }

  .menu-header__list {
    display: block;
  }

  .menu-header__item {
    margin-bottom: 55px;
  }

  .menu-header__item:last-child {
    margin-right: 0;
  }

  .menu-header__link {
    font-size: 30px;
  }

  .header__menu-burger {
    display: block;
    order: 1;
    cursor: pointer;
  }

  .header__menu-burger.active span {
    background-color: #fff;
    position: relative;
    transition: all 0.3s;
    transition: opacity 0s;
  }

  .header__menu-burger.active span:first-child {
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(45deg);
  }

  .header__menu-burger.active span:nth-child(2) {
    opacity: 0;
  }

  .header__menu-burger.active span:last-child {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-45deg);
  }

  .menu-header__btn {
    display: inline-block;
  }

  .header__btn {
    display: none;
  }

  .header__inner {
    justify-content: space-between;
  }

  .menu-header.active {
    transition: all 0.5s;
    transform: translate(0, 0);
  }

  .column-part__title {
    font-size: 30px;
    line-height: 35px;
  }

  .slider-part__slide {
    padding: 5px;
  }

  .slider-part__slide:first-child {
    display: none;
  }

  .slider-part__slide:last-child {
    display: none;
  }

  .part__inner {
    display: block;
  }

  .column-part__title {
    padding-top: 50px;
  }

  .slider-part {
    justify-content: space-around;
  }

  .top-comments__btn {
    display: none;
  }

  .footer__inner {
    display: block;
  }

  .menu-footer__item:last-child {
    display: none;
  }

  .footer__column {
    text-align: center;
    margin-bottom: 20px;
  }

  .menu-footer__items {
    justify-content: center;
  }

  .menu-footer__item {
    margin-right: 0;
  }

  .body-content__column {
    padding-top: 60px;
  }

  .column-part__btn {
    margin-bottom: 30px;
  }
}

@media (max-width: 750px) {
  .features-box__items {
    justify-content: center;
  }

  .features-box__btn {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .content-comments__item {
    height: auto;
    width: 80%;
  }

  .header__inner {
    padding: 15px 0;
  }
}

@media (max-width: 640px) {
  .column-part__text {
    line-height: 18px;
    margin-top: 10px;
  }

  .features__mark {
    font-size: 30px;
    line-height: 35px;
  }

  .features__text {
    margin-bottom: 30px;
  }

  .features-box__item {
    margin-bottom: 30px;
  }

  .body-order__column-orange::before {
    display: none;
  }

  .body-order__images {
    padding: 0;
    margin: 0 auto;
  }

  .body-order__column {
    height: auto;
  }

  .body-order__column-orange {
    width: 100%;
  }

  .body-order__column-orange:last-child .body-order__images {
    padding: 0;
    margin: 0 auto;
  }

  .body-order__column-orange:last-child::before {
    display: none;
  }

  .body-order__column {
    margin-bottom: 10px;
  }

  .body-order__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media (max-width: 600px) {
  .body-top__title {
    font-size: 40px;
    line-height: 50px;
  }

  .box-body {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .body-top__btn {
    padding: 17px 26px;
    margin-bottom: 12px;
  }

  .about__text {
    margin-bottom: 50px;
  }

  .info-about__image {
    margin-bottom: 30px;
  }

  .about__description {
    font-size: 32px;
    line-height: 42px;
  }

  .body-content__btn {
    display: none;
  }

  .slider-part {
    display: block;
  }
}

@media (max-width: 560px) {
  .download__item {
    text-align: center;
  }

  .download__btn {
    margin-bottom: 10px;
  }

  .available-footer__item + .available-footer__item {
    padding-left: 0px;
  }

  .content-comments__item {
    width: 100%;
  }
}

@media (max-width: 505px) {
  .info-about__btn {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media (max-width: 440px) {
  .about__description {
    font-size: 28px;
    line-height: 32px;
  }

  .about__description br {
    display: none;
  }
}

.webp .body-top { background: url(../images/top/top-bg.webp) right no-repeat; }

.webp .body-content__column-burger { background: url(../images/content/content-bg.webp) right 130px no-repeat; }

.webp .body-order__column-orange::before { background: url(../images/order/phone-1-bg.webp) center no-repeat; }

.webp .body-order__column-orange:last-child::before { background: url(../images/order/phone-2-bg.webp) center no-repeat; }